h1{
    text-align: center;
    color: blue;
}
counter-controls{
  
    text-align: center;
    
}
.btn{
    
   width: 80px;
   height: 80px;
    background-color: lightblue;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}