<div class=" container">
    <h1>String Interopolation..</h1>
    <h3>Binding Expression</h3>
    <h4>1+2={{1+2}}</h4>
    <h4>8*4={{8*4}}</h4>
    <h4>20/10={{20/10}}</h4>
    <h4>5%2={{5%2}}</h4>


    <h3>Store Varibale in Componet class</h3>
    <h4>{{a}}+{{b}}={{a+b}}</h4>
    <h4>my name is {{name}}</h4>

    <h4>Array Expression</h4>
    <h3>after sort: {{arr.sort()}}</h3>
    <h3>{{arr}} length is {{arr.length}}</h3>

    <h4>Object Expression</h4>
    <h3>{{user.name}} is a {{user.age}} years old</h3>

    <h4>Function Expression</h4>
    <h3>{{reverseString('Kanhu Charan Behera')}}</h3>
</div>