<h1>Hello Angular 19</h1>
<h2>Welcome to your Angular application!</h2>
<h3>Explore the features and functionalities of Angular 19.</h3>
<h4>{{title}}</h4>
<h4>{{name}}</h4>

<hr>
<hr>
<!-- ================================================== -->
<h1>Interopolation In Angular19</h1>
<p>{{x}}+{{y}} = {{x+y}}</p>

<p>{{user1}}</p>
<p>{{user2}}</p>
<p>{{user2.length}}</p>
<p>{{user1==user2}}</p>

<!-- ============================================================ -->
 <hr><hr>
<h1> Angular CLI </h1>
<p>Angular CLI is a command line interface for Angular</p>
<p>Angular CLI is used to create, develop, and maintain Angular applications</p>
<p>Angular CLI is used to create new Angular projects, generate components, services, and other Angular features</p>
<p>Angular CLI is used to run the application, build the application, and test the application</p>


<br><br>
<hr>
<hr>
<h1>Function call on Button click</h1>
<button (click)="handleClick()">click Me !</button>

<!-- here i am using my login componet and register in app componet -->
<router-outlet></router-outlet>
<app-login></app-login>
<app-register></app-register>
<app-profile></app-profile>


<hr>
<hr>
<h1>Data Types in Angular19</h1>
<p>String: {{name}}</p>
<p>Number: {{x}}</p>
<p>Boolean: {{isActive}}</p>
<p>Array: {{user1}}</p>
<p>Object: {{user1}}</p>
<p>Any: {{anyVariable}}</p>
<p>Null: {{nullVariable}}</p>
<p>Undefined: {{undefinedVariable}}</p>
<p>Tuple: {{tupleVariable}}</p>
<p>Enum: {{enumVariable}}</p>

<!-- <p>Void: {{voidVariable}}</p> -->
<!-- <p>Never: {{neverVariable}}</p> -->
<!-- <p>Unknown: {{unknownVariable}}</p> -->


<hr><hr>


<button (click)="sum(10,20)" style="color: brown; text-align: center; align-items: center;">sum</button>
<hr>
<hr>

<app-counter-app></app-counter-app>

<br><br><br>
<hr>
<hr>
<app-eventhandling></app-eventhandling>

