h1{
    text-align: center;
    color: blue;
    font-size: 2em;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: transform 0.3s ease;
    
}
.btn{
    height: 100px;
    width: 100px;
    background: #000;
    color: #ddd;
    text-align: center;
}